{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1 class="text-center mb-3">{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a class="bold-font" href="{{ login_url }}"> sign in</a>.{% endblocktrans %}</p>

<form class="signup py-4" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form | crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <div class="d-grid gap-2">
  <button class="btn btn-primary my-2 btn-block" type="submit">{% trans "Sign Up" %} &raquo;</button>
  </div>
</form>

{% endblock %}
