{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block content %}

<!-- hs Navigation End -->
<!-- btc tittle Wrapper Start -->
<div class="btc_tittle_main_wrapper">
	<div class="btc_tittle_img_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 full_width">
				<div class="btc_tittle_left_heading">
					<h1>Users</h1>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 full_width">
				<div class="btc_tittle_right_heading">
					<div class="btc_tittle_right_cont_wrapper">
						<ul>
							<li>
								<a href="{% url 'index' %}">Home</a>
								<i class="fa fa-angle-right"></i>
							</li>
							<li>Users</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- btc tittle Wrapper End -->


<!-- Packages Start -->
<div class="x_blog_sidebar_main_wrapper float_left padding_tb_100">
	<div class="container">
		<div class="row">
			<!-- sidebar -->
			{% include 'includes/sidebar.html' %}
			<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12">
				<div class="x_carbooking_right_section_wrapper float_left">
					<div class="row">
						<div class="col-12 col-md-8 offset-md-3">
							<p class="text-center">
								{% include 'includes/messages.html' %}
							</p>
						</div>
						<div class="x_services_title_main_wrapper float_left padding_tb_10">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<div class="x_offer_car_heading_wrapper x_offer_car_tb_heading_wrapper float_left">
											<h4>All Users</h4>
											<h3>Users</h3>
											<!-- <p>Dashboard and Management console for Site Travel website</p> -->
										</div>
									</div>
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 full_width">
									<!-- modal start-->
									{% comment %}
									<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
										Add flight
									</button>
									{% endcomment %}
									<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered modal-lg">
										<div class="modal-content">
											<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											</div>
											<div class="modal-body">
												<form method="post" enctype='multipart/form-data'>
													{% csrf_token %}
													{{ flight_form |crispy }}
													<div class="float-right">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
														<button type="submit" class="btn btn-success">Save</button>
													</div>
												</form>
											</div>
										</div>
										</div>
									</div>
									<table id="myTable" class="table table-bordered table-hover table-striped table-responsive">
										<thead>
											<tr>
												<th >Name</th>
												<th >Email</th>
												<th>Account Activation</th>
												<th>Admin</th>
												<th>Driver</th>
												<th>View</th>
											</tr>
										</thead>
										<tbody>
											
											{% for user in users  %}
											<tr>
												<td>{{user.full_name|title }}</td>
												<td>{{user.email}}</td>
												<td class="text-center">
													{% if user.is_active == True %}
													<a href="{% url 'account_activation' user.id %}" class="btn btn-outline-danger btn-sm">Deactivate</a>
													{% else %}
													<a href="{% url 'account_activation' user.id %}" class="btn btn-outline-success btn-sm">Activate</a>
													{% endif %}
												</td>
												<td>
													{% if user.is_staff == True %}
													<a href="{% url 'admin_rights' user.id %}" class="btn btn-outline-danger btn-sm">Revoke</a>
													{% else %}
													<a href="{% url 'admin_rights' user.id %}" class="btn btn-outline-success btn-sm">Grant</a>
													{% endif %}
												</td>	
												<td>
													{% if user.is_driver == True %}
													<a href="{% url 'verify_driver' user.id %}" class="btn btn-outline-danger btn-sm">Disapprove</a>
													{% else %}
													<a href="{% url 'verify_driver' user.id %}" class="btn btn-outline-success btn-sm">Approve</a>
													{% endif %}
												</td>

												<td><a href="{% url 'user' user.id %}" class="btn btn-outline-primary btn-sm">view</a></td>
											</tr>
											{% endfor %}
										</tbody>
										</table>
									</div>
									
								</div>
							</div>
						</div>

						<!-- <div class="col-md-12">
							<div class="x_car_acc_bottom_button float_left">
								<p><i class="fa fa-info-circle"></i> &nbsp;Phasellus ornare, ante purus sa dolor.</p>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Packages End -->

{% endblock %}