{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}


	<div class="x_blog_sidebar_main_wrapper float_left padding_tb_100">
		<div class="container">
			<div class="row">
				
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="x_carbooking_right_section_wrapper float_left">
						<div class="row">
							<div class="x_services_title_main_wrapper float_left padding_tb_10">
								<div class="container">
									<div class="row">
										<div class="col-md-12">
											<div class="x_offer_car_heading_wrapper x_offer_car_tb_heading_wrapper float_left">
												<h4>Services we offer</h4>
												<h3>Car Hire</h3>
												<!-- <p>Dashboard and Management console for Site Travel website</p> -->
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-8 offset-md-3">
								<p class="text-center">
									{% include 'includes/messages.html' %}
								</p>
							</div>

							<!-- Package title -->
							<div class="col-md-12 my-4">
								<div class="card">
									<h5 class="card-header">Car Details</h5>
									<div class="card-body">
										<div class="row">
											<div class="col-md-6">
												<p class="card-text">Car : {{ car.car |title }} </p>
												<p class="card-text">Category : {{ car.category |title }} </p>
												<p class="card-text">Capacity : {{ car.capacity }} </p>
											</div>
											<div class="col-md-6">
												<p class="card-text">Description : <br>
													 {{ car.description }} </p>
											</div>
										</div>
									  <!-- <h5 class="card-title">Special title treatment</h5> -->
									  

									  <!-- car = models.CharField(max_length=100)
										image = models.ImageField(upload_to="cars")
										category = models.CharField(max_length=50, choices=CAR_CATEGORY)
										capacity = models.PositiveIntegerField(default=3)
										available = models.BooleanField(default=True)
										description = models.TextField() -->
										
									</div>
								  </div>
							</div>
							<!-- card body-->
							<div class="col-md-12 my-4">
								<div class="card">
									<h5 class="card-header">Car Hire</h5>
									<div class="card-body">
										<form method="POST" enctype='multipart/form-data'>
											{% csrf_token %}
											{{ booking_form | crispy }}
											<div class="float-right">
												<a href="{% url 'car_list' %}" type="button" class="btn btn-secondary">Cancel</a>
												<button type="submit" class="btn btn-success">Save</button>
											</div>
										</form>
									</div>
								  </div>
							</div>
	
							<!-- <div class="col-md-12">
								<div class="x_car_acc_bottom_button float_left">
									<p>
										<i class="fa fa-info-circle"></i> &nbsp;Phasellus ornare, ante
										vitae consectetuer consequat, purus sapien ultricies dolor.
									</p>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
    