{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}


	<div class="x_blog_sidebar_main_wrapper float_left padding_tb_100">
		<div class="container">
			<div class="row">
				
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="x_carbooking_right_section_wrapper float_left">
						<div class="row">
							<div class="x_services_title_main_wrapper float_left padding_tb_10">
								<div class="container">
									<div class="row">
										<div class="col-md-12">
											<div class="x_offer_car_heading_wrapper x_offer_car_tb_heading_wrapper float_left">
												<h4>Flight Ticketting</h4>
												<h3>Flight Ticketing</h3>
												<!-- <p>Dashboard and Management console for Site Travel website</p> -->
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-8 offset-md-3">
								<p class="text-center">
									{% include 'includes/messages.html' %}
								</p>
							</div>

							<!-- Package title -->
							<div class="col-md-12 my-4">
								<div class="card">
									<h5 class="card-header">Flight Details</h5>
									<div class="card-body">
									  <p class="card-text">Flight: {{ flight.start.name |title }} to {{ flight.destination.name |title }} </p>
									  <p class="card-text">Price: $ {{ flight.price |intcomma }} </p>
									</div>
								  </div>
							</div>
							<!-- card body-->
							<div class="col-md-12 my-4">
								<div class="card">
									<h5 class="card-header">Flight Booking</h5>
									<div class="card-body">
										<form method="POST" enctype='multipart/form-data'>
											{% csrf_token %}
											{{ booking_form | crispy }}
											<div class="float-right">
												<a href="{% url 'flight_list' %}" type="button" class="btn btn-secondary">Cancel</a>
												<button type="submit" class="btn btn-success">Save</button>
											</div>
										</form>
									</div>
								  </div>
							</div>
	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
    