{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block content %}

<!-- hs Navigation End -->
<!-- btc tittle Wrapper Start -->
<div class="btc_tittle_main_wrapper">
	<div class="btc_tittle_img_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 full_width">
				<div class="btc_tittle_left_heading">
					<h1>My Bookings</h1>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 full_width">
				<div class="btc_tittle_right_heading">
					<div class="btc_tittle_right_cont_wrapper">
						<ul>
							<li>
								<a href="{% url 'index' %}">Home</a>
								<i class="fa fa-angle-right"></i>
							</li>
							<li>My Bookings</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- btc tittle Wrapper End -->


<!-- cars Start -->
<div class="x_blog_sidebar_main_wrapper float_left padding_tb_100">
	<div class="container">
		<div class="row">
			<!-- sidebar -->
			{% include 'includes/sidebar.html' %}
			<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12">
				<div class="x_carbooking_right_section_wrapper float_left">
					<div class="row">
						<div class="col-12 col-md-8 offset-md-3">
							<p class="text-center">
								{% include 'includes/messages.html' %}
							</p>
						</div>
						<div class="x_services_title_main_wrapper float_left padding_tb_10">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<div class="x_offer_car_heading_wrapper x_offer_car_tb_heading_wrapper float_left">
											<h4>History of bookings</h4>
											<h3>My Bookings</h3>
											<!-- <p>Dashboard and Management console for Site Travel website</p> -->
										</div>
									</div>
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 full_width">
									<!-- modal start-->
									
									<table id="myTable" class="table table-bordered table-hover table-striped table-responsive">
										<thead>
											<tr>
												<th >Service </th>
												<th >Start Date</th>
												<th >End Date</th>
												<th>Time Booked</th>
												<th>Options</th>
											</tr>
										</thead>
										<tbody>
											{% for booking  in bookings  %}
											<tr>
												<td>{{booking.service |title }}</td>
												<td>
													{% if booking.start %}
													{{booking.start}}
													{% else %}
													N/A
													{% endif %}
												</td>
												<td>
													{% if booking.end %}
													{{booking.end}}
													{% else %}
													N/A
													{% endif %}
													</td>
												<td>{{booking.booked_on |timesince }}</td>
												<td>
													<a href="{% url 'booking' booking.id %}" class="btn btn-outline-primary btn-sm">view</a>
												</td>
											</tr>
											{% endfor %}
										</tbody>
										</table>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CArs End -->

{% endblock %}