{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}
    	<!-- btc tittle Wrapper Start -->
	<div class="btc_tittle_main_wrapper">
		<div class="btc_tittle_img_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 full_width">
					<div class="btc_tittle_left_heading">
						<h1>Group Trips </h1>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 full_width">
					<div class="btc_tittle_right_heading">
						<div class="btc_tittle_right_cont_wrapper">
							<ul>
								<li><a href="{% url 'index' %}">Home</a>  <i class="fa fa-angle-right text-white"></i></li>
								<li>Group Packages</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- btc tittle Wrapper End -->

	<div class="x_blog_sidebar_main_wrapper float_left padding_tb_100">
		<div class="container">
			<div class="row">
				
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="x_carbooking_right_section_wrapper float_left">
						<div class="row">
							<div class="x_services_title_main_wrapper float_left padding_tb_10">
								<div class="container">
									<div class="row">
										<div class="col-md-12">
											<div class="x_offer_car_heading_wrapper x_offer_car_tb_heading_wrapper float_left">
												<h4>Group trips</h4>
												<h3>Trips</h3>
												<!-- <p>Dashboard and Management console for Site Travel website</p> -->
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Package title -->
							<div class="col-md-12 my-4">
								<div class="card">
									<h5 class="card-header">Trip Details</h5>
									<div class="card-body">
									  <p class="card-text">Destination: {{ trip.destination |title }}</p>
									  <p class="card-text">Slots left: {{ trip.slots }}</p>
									  <p class="card-text">Trip starts on: {{ trip.start }}</p>
									  <p class="card-text">Trip ends on: {{ trip.end }}</p>
									  <p class="card-text">Price of trip: $ {{ trip.price |intcomma }}</p>
									  <p class="card-text">Trip Duration: {{trip.trip_duration}} days
									  <p class="card-text">Accomodation on arrival:
										  {% if trip.arrival_accomodation %}
										  {{ trip.arrival_accomodation |title }}
										  {% else %}
										  N/A
										  {% endif %}	  
										</p>
									  <p class="card-text">Accomodation during trip:
										{% if trip.trip_accomodation %}
										{{ trip.trip_accomodation |title }}
										{% else %}
										N/A
										{% endif %}  
									</p>
									</div>
								  </div>
							</div>
							
							<!-- card body-->
							<div class="col-md-12 my-4">
								<div class="card">
									<h5 class="card-header">Trip Booking</h5>
									<div class="card-body">
										<form method="POST" enctype='multipart/form-data'>
											{% csrf_token %}
											{{ booking_form | crispy }}
											<div class="float-right">
												<a href="{% url 'trip_list' %}" type="button" class="btn btn-secondary">Cancel</a>
												<button type="submit" class="btn btn-success">Save</button>
											</div>
										</form>

									</div>
								  </div>
							</div>
							<div class="col-12 col-md-8 offset-md-3">
								<p class="text-center">
									{% include 'includes/messages.html' %}
								</p>
							</div>
	
							<!-- <div class="col-md-12">
								<div class="x_car_acc_bottom_button float_left">
									<p>
										<i class="fa fa-info-circle"></i> &nbsp;Phasellus ornare, ante
										vitae consectetuer consequat, purus sapien ultricies dolor.
									</p>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
    